root = true
[*]
charset = utf-8

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
insert_final_newline = true
trim_trailing_whitespace = true


[*.{xaml,axaml,yml,csproj}]
indent_size = 2
