name: Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: Mirai

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: SS14.Launcher.Tests
        run: dotnet test SS14.Launcher.Tests/SS14.Launcher.Tests.csproj -v n
      - name: Test Hidesey
        run: dotnet test Marsey.Tests/Marsey.Tests.csproj -v n
