name: Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: SS14.Launcher.Tests
        run: dotnet test SS14.Launcher.Tests/SS14.Launcher.Tests.csproj -v n
      - name: Test Hidesey
        run: dotnet test Marsey.Tests/Marsey.Tests.csproj -v n